body {
    margin: 0 15% 0 15%;
    color: red;
    /*background-image: url(../image/wah.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

.ceci {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
} 

header {
    text-align: center;
}

header > h2 {
    font-style: italic;
}

div.outer {
    border: 4px solid blue;
}

div.click {
    border-bottom: 4px solid blue;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center; /*centers horizontally */
    justify-content: center; /*centers vertically */
}

div.store {
    display: flex;
    height: 50vh;
}

div.store-title {
    text-align: center;
    border-bottom: 4px solid blue;
}

div.equipments, 
div.upgrades {
    display: flex;
    flex-direction: column;
    flex: 50%;
    overflow: auto;
}

div.equipments {
    border-right: 4px solid blue;
}

.button {
    border-style: hidden;
    border-bottom: 1px solid blue;
    padding: 14px 28px;
    font-size: 1.25em;
    cursor: pointer;
    text-align: left;
}

.button:disabled:hover {
    cursor: not-allowed;
}